<div class="container my-5">
    <div class="row mb-5">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <img src="{{image_url}}" class="beer-img" alt="...">
        </div>
        <div class="col-md-9">
            <h2 class="mb-3 text-primary"><a href="beer/{{id}}">{{name}}</a></h2>
            <h4 class="mb-3 text-muted">{{tagline}}</h4>
            <p>{{description}}</p>
        </div>
    </div>
</div>